<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <% if current_user.present? %>
        <p>こんにちは、<%= current_user.profile.name %>さん！</p>
      <% else %>
        <p>こんにちは、ゲストさん！</p>
      <% end %>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= form.label :icon, "プロフィール画像" %>
  <%= form.file_field :icon %>
</div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="sex-field">
    <%= form.label :sex, "性別" %>
    <%= form.label :man %>
    <%= form.radio_button :sex, :man %>
    <%= form.label :woman %>
    <%= form.radio_button :sex, :woman %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :work %>
    <%= form.text_field :work %>
  </div>

  <div class="field">
    <%= form.label :hobby %>
    <%= form.text_field :hobby %>
  </div>

  <div class="field">
    <%= form.label :likes %>
    <%= form.text_field :likes %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
