<h1><%= current_user.profile.name %>さんのマイページです</h1>

  <div class="profile-icon">
    <%= image_tag @profile.icon.url %>
  </div>

  <table>
    <thead>
      <tr>
        <th>名前</th>
        <th>性別</th>
        <th>Age</th>
        <th>Work</th>
        <th>Hobby</th>
        <th>Likes</th>
        <th>Comment</th>
      </tr>
    </thead>


    <tbody>
          <tr>
            <td><%= @profile.name %></td>
            <td><%= @profile.sex %></td>
            <td><%= @profile.age %>歳</td>
            <td><%= @profile.work %></td>
            <td><%= @profile.hobby %></td>
            <td><%= @profile.likes %></td>
            <td><%= @profile.comment %></td>
            <td><%= link_to '編集', edit_profile_path(@profile) %></td>
            <td><%= link_to '戻る', root_path %></td>
          </tr>
    </tbody>
  </table>